<div class="containersMenu">
    <div class="menu">
        <span class="material-symbols-outlined">
            diamond
        </span>
        <div class="rotasMenu">
            <div class="itensMenu">
                <a href="inicio">INICIO</a>
            </div>
            <div class="itensMenu">
                <a href="funcionarios">FUNCIONÁRIOS</a>
            </div>
            <div class="itensMenu">
                <a href="#">DASHBOARD</a>
            </div>
            <div class="itensMenu">
                <a href="#">SOBRE</a>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>